/* Importing Fonts */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

h1 {
    font-family: "Silkscreen", sans-serif;
    font-size: 5em;
}

/* Universal Styles */
header {
    background-color: #919191;
    padding: 1em;
    position: fixed;
    width: 100%;
    z-index: 100;
}

header a {
    display: inline-block;
    width: 5em;
}

header img {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.head-horiz {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.background-container {
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.row {
    display: flex;
    flex-flow: row wrap;
}

.column {
    display: flex;
    flex-flow: column wrap;
    width: fit-content;
}

.margin {
    margin-top: 6em;
}

/* PAGES */

/* Home */
.steed-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 1em;
}

#james-1 {
    margin-bottom: -2em;
}

.column>h1 {
    font-size: 4em;
    width: 50%;
    margin-top: 3em;
}

.brick-container {
    height: 30em;
    width: 100%;
    background-image: url(Images/brick-wall.jpg);
}

.brick-container>p {
    color: white;
    font-size: 2em;
    text-shadow: 0.1em 0.1em black;
    padding: 1em;
    margin: 1em;
}

.light-blue {
    color: cyan;
}

.orange {
    color: orange;
}

/* About */
#about-back {
    background-image: url("Images/basement.jpg");
}

.game-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(255, 0, 0, 0.4);
    margin-bottom: 1em;
}

.game-container>p {
    color: #79BBE1;
    text-shadow: 0.1em 0.1em #0B459B;
}

.game-container img {
    max-width: 20%;
}

.text-container {
    margin-top: 5em;
    flex-flow: row wrap;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(255, 0, 0, 0.4);
    margin-bottom: 1em;
}

.text-container>p {
    color: #79BBE1;
    text-shadow: 0.1em 0.1em #0B459B;
}

.cat-container>img {
    width: 20em;
    height: 30em;
}

/* Portfolio */
#port-back {
    background-image: url("Images/cart-background.jpg");
}

.portfolio-container {}

/* Resume */
#res-back {
    background-image: url("Images/court-background.jfif");
}

/* Future Plans */
#future-back {
    background-image: url("Images/waterfall-background.gif");
}

/* Contact */
#contact-back {
    background-image: url("Images/space-background.jfif");
}